$white: white;

$cream: #f2e3d5;
$cream2: #d9c8bf;
$cream3: #c6ac9f;
$cream4: rgba(179, 145, 127, 1);
$cream5: rgba(160, 118, 95, 1);
$cream6: rgba(128, 94, 76, 1);
$cream7: rgba(96, 71, 57, 1);

$blue1: #e9f2f0;
$blue2: #aebfba;
$blue3: #8fa69f;

$blue1Op: rgba(233, 242, 240, 0.6);
$blue2Op: rgba(174, 191, 186, 0.6);
$blue3Op: rgba(143, 166, 159, 0.6);
