* {
	// font-family: 'League Script', cursive;

	// font-family: 'Major Mono Display', monospace;

	// font-family: 'Yellowtail', cursive;
	// font-family: 'Hi Melody', cursive;

	letter-spacing: .2rem;
}

h1,
h3 {
	font-family: 'Yellowtail', cursive;
	// font-family: 'Clicker Script', cursive;
	font-weight: 700;
	line-height: 1.6;
}

// h4,
textarea,
input {
	font-family: 'Raleway', sans-serif;
	// font-family: 'Dekko', cursive;
}

h4 {
	font-family: 'Yellowtail', cursive;
}
