@import "./../styles/colors.scss";

main {
	display: flex;
	justify-content: center;
	padding: .2rem .2rem;
	position: relative;
}
.card-todo {
	position: relative;
	// background-color: tan;
	// position: absolute;
	// min-width: 35rem;
	width: 30rem;
	height: 400px;
	display: flex;
	flex-direction: column;
	margin: 1.2rem auto 4rem .3rem;
	padding: .7rem 1rem 2rem 1rem;

	// &:hover {
	// 	transform: scale(1.05);
	// }

	.todo-container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;

		height: 100%;
		width: 100%;
		border-bottom-right-radius: 10px;
		// transition: all 2s ease-in;

		-webkit-box-shadow: 10px 10px 24px -7px rgba(0, 0, 0, 0.24);
		-moz-box-shadow: 10px 10px 24px -7px rgba(0, 0, 0, 0.24);
		box-shadow: 10px 10px 24px -7px rgba(0, 0, 0, 0.24);
		// transition: all .3s ease-in-out;
		// &:hover {
		// 	// transition: all .3s ease-in-out;
		// 	-webkit-box-shadow: 10px 10px 24px -7px rgba(0, 0, 0, 0.44);
		// 	-moz-box-shadow: 10px 10px 24px -7px rgba(0, 0, 0, 0.44);
		// box-shadow: 10px 10px 24px -7px rgba(0, 0, 0, 0.44);
		// }
	}
	.enlarge {
		// transition: all 2s ease-in;
		width: 31rem;
		height: 450px;
		position: absolute;
	}
}
// .hover-scale {
// 	transform: scale(1.05);
// }

@keyframes spinAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.card-todo header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $blue2;
	// opacity: .5;
	// height: 2rem;
	padding: .5rem .5rem 0rem 1.2rem;
	input {
		width: 80%;
		color: white;
		// padding: 1rem;
		background: none;
		border: none;

		font-size: 1.8rem;
		// transition: all .2s ease-in;
		// &:hover {
		// 	background: rgba(255, 255, 255, 0.2);
		// }
		&:focus {
			background: rgba(0, 0, 0, 0.3);
		}
		&:focus::placeholder {
			color: transparent;
		}
	}
	.spin {
		&:hover {
			animation-name: spinAnimation;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}
}

.card-todo main {
	padding: 1rem 1rem 1rem 1.2rem;
	background-color: $blue2;
	flex: 1;
	textarea {
		color: white;
		// margin: .3rem 0 1rem 1.7rem;
		// background: url("./../images/sky.jpg") center center no-repeat;
		background: none;
		border: none;
		resize: none;
		width: 100%;
		font-size: 1.2rem;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		&::placeholder {
			margin: 1rem;
		}
		// &:hover {
		// 	background: rgba(255, 255, 255, 0.2);
		// }
		&:focus {
			background: rgba(0, 0, 0, 0.3);
		}
		&:focus::placeholder {
			color: transparent;
		}
	}
}

.card-todo footer {
	padding: 1rem 1rem 1.5rem;
	// opacity: .5;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $blue3;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	font-size: 30px;
	color: white;
	.icons {
		display: flex;
		justify-content: space-around;
		width: 60%;
	}
}

.material-icons {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	// transition: all .2s ease-in-out;
	cursor: pointer;
	font-size: 40px;
	color: rgba(255, 255, 255, 0.6);
	// &:hover {
	// 	color: rgba(255, 255, 255, 1);
	// }
}

.slide-container {
	display: flex;
	// display: block;
	justify-content: flex-end;
	right: 0rem;
	z-index: 100;
	position: absolute;
	// transition: opacity .2s;
	width: 100%;
	height: 100%;
	// transition: all .3s ease-in-out;
	// opacity: 1;
	// background: rgba(0, 0, 0, 0.1);
	.slide-nav {
		// transition: all 5s ease-in-out;
		// display: none;
		overflow: hidden;
		position: absolute;
		display: flex;
		justify-content: flex-end;
		// background-color: blue;
		// right: -20rem;
		width: 35%;
		height: 75%;
		// transform: translateX(10rem);
		// transition: all .3s ease-in-out;
		.inner {
			// display: none;
			// transition: right .3s ease-out;
			// display: block;
			// opacity: 1;
			position: relative;
			// right: -12rem;
			// transform: translateX(10rem);
			// transition: all .3s ease-in-out;

			width: 0%;
			// transition: width .3s ease-out;
			height: 100%;
			background-color: $cream3;
			display: flex;
			flex-direction: column;
			.close-container {
				// transition: all 5s ease-in-out;
				// display: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				height: 3rem;
				width: 100%;
				padding: .5rem;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
			span {
				// transition: all 5s ease-in-out;
				// display: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				height: 100%;
				align-self: flex-end;
				cursor: pointer;
				// width: 100%;
			}
			ul {
				display: block;
				flex: 1;
				list-style: none;
				li {
					a {
						text-decoration: none;
					}
				}
			}
		}
		.open {
			width: 100%;
			// transform: translateX(0rem);
			// transition: width .3s ease-out;
		}
	}
}
.dark-background {
	// transition: opacity .2s ease-out;
	background: rgba(0, 0, 0, 0.2);
	// display: none;
	// height: 0;
	width: 100%;
	opacity: 1;
	// visibility: hidden;
}

.hide {
	visibility: hidden;
	// display: none;
	opacity: 0;
}

// .display-none {
// 	transition: opacity .1s;
// 	// display: none;
// 	// height: 0;
// 	width: 0;
// 	opacity: 0;
// 	// visibility: hidden;
// }
